<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp">
<div ng-controller="myCtrl">
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}
<br>
Full Name: {{fullName()}}
<br>
</div>

<div ng-controller="yourCtrl">
    Age: <input type="text" ng-model="age"><br>
    Gender: <input type="text" ng-model="gender"><br>
    <br>
    Your Gender: {{gender + " and your age: " + age}}
</div>

<div ng-controller="namesCtrl"> 
    <ul>
      <li ng-repeat="x in names">
        {{ x.name + ', ' + x.country }}
      </li>
    </ul>    
</div>

<p style="color:{{color}};">The rootScope's favorite color:</p>
<h1 style="color:{{color}};">{{color}}</h1>

<div ng-controller="colorCtrl">

<p style="color:{{color}};">The scope of the controller's favorite color:</p>
<h1 style="color:{{color}};">{{color}}</h1>

</div>

<p style="color:{{color}};">The rootScope's favorite color is still:</p>
<h1 style="color:{{color}};">{{color}}</h1>

</div>

<script src="personController.js"></script>

</body>
</html>
